{{>layout/header}}
<div class="page" xmlns:th="http://www.w3.org/1999/xhtml">
{{>layout/top}}
 <div class="page-content d-flex align-items-stretch">
     {{>layout/side}}
     <div class="content-inner">
         <!-- Page Header-->
         <header class="page-header">
             <div class="container-fluid">
                 <h2 class="no-margin-bottom">Forms</h2>
             </div>
         </header>
         <!-- Forms Section-->
         <section class="forms">
            <form th:action="@{/api/v1/address}" th:object="${address}" method="POST">
             <div class="container-fluid">
                 <div class="row">
                     <!-- Form Elements -->
                     <div class="col-lg-12">
                         <div class="card">
                             <div class="card-close">
                                 <div class="dropdown">
                                     <button type="button" id="closeCard5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                                     <div aria-labelledby="closeCard5" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                                 </div>
                             </div>
                             <div class="card-header d-flex align-items-center">
                                 <h3 class="h4">All form elements</h3>
                             </div>
                             <div class="card-body">
                                 <form class="form-horizontal">
                                     <div class="row">
                                         <label class="col-sm-3 form-control-label">주소록 추가</label>
                                         <div class="col-sm-9">
                                             <div class="form-group-material">
                                                 <input id="addressName" type="text" name="addressName" required class="input-material">
                                                 <label for="addressName" class="label-material">name</label>
                                             </div>
                                             <div class="form-group-material">
                                                 <input id="addressEmail" type="email" name="addressEmail" required class="input-material">
                                                 <label for="addressEmail" class="label-material">email</label>
                                             </div>
                                             <div class="form-group-material">
                                                 <input id="addressPhone" type="tel" name="addressPhone" required class="phoneNumber input-material">
                                                 <label for="addressPhone" class="label-material">phone</label>
                                             </div>
                                             <input id="id" type="hidden" name="id" value="{{id}}" class="input-material">
                                         </div>
                                     </div>
                                     <div align="right">
                                         <div>
                                             <a type="button" href="/" class="btn btn-secondary">Cancel</a>
                                             <button type="button" class="btn btn-primary" id="btn-save">Save</button>
                                         </div>
                                     </div>
                                 </form>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
            </form>
         </section>
         <!-- Page Footer-->
         {{>layout/bottom}}
     </div>
 </div>
</div>
{{>layout/footer}}